/*Common section*/
.clearfix:after{
	content: "";
	display:table;
	clear:both;
}

input{
	width: 200px;
	height: 30px;
	border: 1px solid #ededed;
	color:#d8d8d8;
}

.wrapper {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}
/*Header section */
header{
	height: 150px;
}

.logo{
	width: 190px;
	height: 90px;
	background-image: url("../img/logo.png");
}

.navigation-bar{
	border-top: 1px solid #ededed;
	height: 40px;
}
.navigation-bar ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.menu-item{
	display: block;
	float:left;
	height: 40px;
	padding: 0px;
	margin-top: -1px;
}
.menu-item a{
	border-right: 1px solid #ededed;
	font-family: "HelveticaNeue";
	font-size: 12px;
	font-weight: bold;
	width: 80px;
	height: 16px;
	padding-top: 4px;
	display: block;
	text-decoration: none;
	text-align: center;
	color: #2b2b2b;
	margin-top: 20px;
}

.menu-item.active a{
	color: #f03c3c;
}
.menu-item.active{
	border-top: 1px solid #f03c3c;
}


.search-form{
	float: right;
	margin-top: 30px;
}
.search-button{
	width: 30px;
	margin-left: -30px;
	background-image: url("../img/search.png");
	border: 0px;
	margin-right: 1px;

}
